<div class="container py-5" id="contact">
  <h2 class="text-center mb-4">{{ "Contact.title" | translate }}</h2>
  <div class="row justify-content-center align-items-center">
    <!-- Image Section -->
    <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
      <figure>
        <img
          src="/assets/images/cat.jpg"
          alt="Contact Image"
          class="img-fluid rounded-circle shadow"
        />
      </figure>
    </div>

    <!-- Form Section -->
    <div class="col-12 col-md-8">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-4">
        <div class="row">
          <!-- Name Field -->
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                formControlName="name"
              />
              <label for="name">{{ "Contact.name" | translate }}</label>
              @if(checkError('name', 'required')) {
              <small>{{ "Contact.required" | translate }}</small>
              } @if(checkError('name', 'minlength') || checkError('name',
              'maxlength')) {
              <small>{{ "Contact.nameLength" | translate }}</small>
              }
            </div>
          </div>

          <!-- Lastname Field -->
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Lastname"
                formControlName="lastName"
              />
              <label for="lastName">{{ "Contact.lastName" | translate }}</label>
              @if(checkError('lastName', 'required')) {
              <small>{{ "Contact.required" | translate }}</small>
              } @if(checkError('lastName', 'minlength') ||
              checkError('lastName', 'maxlength')) {
              <small>{{ "Contact.lastNameLength" | translate }}</small>
              }
            </div>
          </div>

          <!-- Email Field -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              formControlName="email"
            />
            <label for="email">Email</label>
            @if(checkError('email', 'required')) {
            <small>{{ "Contact.required" | translate }}</small>
            } @if(checkError('email', 'pattern') ) {
            <small>{{ "Contact.invalidEmail" | translate }}</small>
            }
          </div>

          <!-- Message Field -->
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="message"
              placeholder="Message"
              formControlName="message"
              style="height: 150px"
            ></textarea>
            <label for="message">{{ "Contact.message" | translate }}</label>
            @if(checkError('message', 'required')) {
            <small>{{ "Contact.required" | translate }}</small>
            } @if(checkError('message', 'minlength') || checkError('message',
            'maxlength')) {
            <small>{{ "Contact.messageLength" | translate }}</small>
            }
          </div>

          <input
            type="submit"
            [value]="'Contact.send' | translate"
            class="btn btn-info px-5 py-2"
            [disabled]="contactForm.invalid"
          />
        </div>
      </form>
    </div>
  </div>
</div>
