<div class="container py-5">
  <h2 class="text-center mb-4">Contact Me</h2>
  <div class="row justify-content-center align-items-center">
    <!-- Image Section -->
    <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
      <figure>
        <img
          src="/assets/images/cat.jpg"
          alt="Contact Image"
          class="img-fluid rounded-circle shadow"
        />
      </figure>
    </div>

    <!-- Form Section -->
    <div class="col-12 col-md-8">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-4">
        <div class="row">
          <!-- Name Field -->
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                formControlName="name"
              />
              <label for="name">Name</label>
              @if(checkError('name', 'required')) {
              <small>This field is required</small>
              } @if(checkError('name', 'minlength') || checkError('name',
              'maxlength')) {
              <small>The name must be between 3 and 15 characters</small>
              }
            </div>
          </div>

          <!-- Lastname Field -->
          <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Lastname"
                formControlName="lastName"
              />
              <label for="lastName">Lastname</label>
              @if(checkError('lastName', 'required')) {
              <small>This field is required</small>
              } @if(checkError('lastName', 'minlength') ||
              checkError('lastName', 'maxlength')) {
              <small>The lastName must be between 3 and 15 characters</small>
              }
            </div>
          </div>

          <!-- Email Field -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              formControlName="email"
            />
            <label for="email">Email</label>
            @if(checkError('email', 'required')) {
            <small>This field is required</small>
            } @if(checkError('email', 'pattern') ) {
            <small>Invalid email address</small>
            }
          </div>

          <!-- Message Field -->
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              id="message"
              placeholder="Message"
              formControlName="message"
              style="height: 150px"
            ></textarea>
            <label for="message">Message</label>
            @if(checkError('message', 'required')) {
            <small>This field is required</small>
            } @if(checkError('message', 'minlength') || checkError('message',
            'maxlength')) {
            <small>The message must be between 5 and 500 characters</small>
            }
          </div>

          <input
            type="submit"
            value="Send"
            class="btn btn-info px-5 py-2"
            [disabled]="contactForm.invalid"
          />
        </div>
      </form>
    </div>
  </div>
</div>
