.footer {
  background-color: var(--background);
  width: 100%;
  transition: background-color 0.8s, font-size 0.8s ease;

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-right: 10px;

      font-size: 24px;

      a {
        color: var(--text);
        transition: color 0.3s ease;

        &:hover {
          color: var(--primary-color); /* Cambia el color al pasar el mouse */
        }
      }
    }
  }
}
