.background {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--text);

  .nav {
    padding: 0.7em;
    border-bottom: none;
    min-width: 200px;
    .nav-link {
      color: var(--white);

      &:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
      }
    }
  }

  .offcanvas {
    background-color: var(--primary-color);

    .offcanvas-body {
      .offcanvas-menu {
        display: flex;
        flex-direction: column;
      }
    }
  }

  label {
    color: var(--white);
  }
}

.toggle-button {
  color: var(--white);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--white);
    background-color: var(--secondary-color);
  }
}
