.solid {
  background-color: var(--background);
  font-size: 1.1rem;
  .nav-link,
  .toggle-button {
    color: var(--text);
  }
}

.transparent {
  background-color: transparent;
  font-size: 1.7rem;
  .nav-link,
  .toggle-button {
    color: var(--white);
  }

  body.light & .nav-link,
  body.light & .toggle-button {
    &:hover {
      color: black;
    }
  }
}

.background {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.8s, font-size 0.8s ease;
  z-index: 1;

  .nav {
    padding: 0.7em;
    border-bottom: none;
    min-width: 200px;
    .nav-link {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        border-color: var(--text);
      }
    }
  }

  .offcanvas {
    background-color: var(--primary-color);

    .offcanvas-body {
      .offcanvas-menu {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.toggle-button {
  color: var(--text);
  font-size: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--text);
    background-color: var(--primary-color);
  }
}
