<nav
  [class]="{ background: true, transparent: !isScrolled, solid: isScrolled }"
>
  <div
    class="container-lg d-flex align-items-center justify-content-between flex-wrap"
  >
    <!-- Left side: Navigation links (visible only on medium and larger screens) -->
    <ul class="nav nav-tabs">
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#hero">{{ "NavLinks.start" | translate }}</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#skills">{{
          "NavLinks.skills" | translate
        }}</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#projects">{{
          "NavLinks.projects" | translate
        }}</a>
      </li>
      <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="#contact">{{
          "NavLinks.contact" | translate
        }}</a>
      </li>

      <!-- Menu button for small screens (opens offcanvas menu) -->
      <li class="nav-item">
        <a
          class="btn nav-link d-md-none"
          data-bs-toggle="offcanvas"
          href="#offcanvas"
          role="button"
        >
          <i class="fa-solid fa-bars fa-lg"></i>
        </a>
      </li>
    </ul>
    <div>
      <!-- Theme toggle button -->
      <button class="btn toggle-button" (click)="toggleTheme()">
        <i
          [class]="
            currentTheme === 'dark' ? 'fa-solid fa-sun' : 'fa-solid fa-moon'
          "
        ></i>
      </button>

      <!-- Language toggle button -->
      <button class="btn toggle-button" (click)="toggleLanguage()">
        {{ currentLanguage === "en" ? "Es" : "En" }}
      </button>
    </div>
  </div>

  <!-- Offcanvas menu (for small screens) -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvas"
    data-bs-scroll="true"
  >
    <div class="offcanvas-header">
      <!-- Close button for the offcanvas menu -->
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body pt-0">
      <!-- Offcanvas navigation links -->
      <ul class="nav nav-tabs offcanvas-menu">
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link" href="#hero">{{
            "NavLinks.start" | translate
          }}</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link" href="#skills">{{
            "NavLinks.skills" | translate
          }}</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link" href="#projects">{{
            "NavLinks.projects" | translate
          }}</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link" href="#contact">{{
            "NavLinks.contact" | translate
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
