.hero {
  color: var(--white);
  height: 90vh;
  max-width: 3840px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      var(--background-transparent)
    ),
    url("/assets/images/hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .hero-content {
    padding-top: 250px;

    .hero-text {
      z-index: 1;
    }

    h1,
    p {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    p {
      font-size: 1.2rem;
    }

    img {
      width: 500px;
      animation: floatImage 3.5s ease-in-out infinite;
    }
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-50px);
  }
}
