h2 {
  color: var(--secondary-color);
  font-weight: 700;
}

ul {
  border-bottom: none;
}

button.nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--text);

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--text);
  }
}

button.nav-link.active {
  background-color: var(--primary-color);
  color: var(--text);
  border-color: var(--text);
}

.project-card {
  background-color: var(--background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 800px;
  margin: 0 auto;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description {
  color: var(--text);
  font-size: 1rem;
  margin-bottom: 15px;
}

.project-technologies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.project-technologies .badge {
  color: var(--text);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text);
  border-color: var(--text);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--background);
}
