<div class="skills" id="skills">
  <div class="container p-4">
    <h2>{{ "Skills.title" | translate }}</h2>
    <p>{{ "Skills.description" | translate }}</p>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let skill of skills">
        <ng-template carouselSlide>
          <div class="skill-item">
            <img class="img-fluid" [src]="skill.img" [alt]="skill.name" />
            <p>{{ skill.name }}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
