:root {
  --white: #ecf0f1;
}

.dark {
  --background: #2c3e50;
  --text: #ecf0f1;
  --primary-color: #8e44ad;
  --secondary-color: #9b59b6;
}

.light {
  --background: #ecf0f1;
  --text: #2c3e50;
  --primary-color: #9b59b6;
  --secondary-color: #8e44ad;
}

body {
  background-color: var(--background);
  color: var(--text);
}
